body {
    background:red;
    width :100%;
    height :100vh;
}
header {
    background : blue ;
    width :97%;
    height :10%;
    border:1px solid black ;
    font-size:20px;
    color :red;
    display:flex;
    justify-content: center ;
    align-items: center ;
}
main{
    background :#8098ff;
    width :97%;
    height :78%;
    border:1px solid black ;
}
.hangMot{
    background :#ffd5f4;
    width :100%;
    height :25%;
    text-align: center ;
    display : flex ;
    align-items : flex-start;
}
.oMot{
    background: #eeff40;
    width: 50%;
    height: 100%;
    
}
.oHai{
    background: #ff40fc;
    width: 50%;
    height: 100%;
    margin-left: auto ;
}
.hangHai{
    background :#7bff55;
    width :100%;
    height :25%;
}
.hangBa{
    background :#80ffff;
    width: 100%;
    height: 25%;
}
.hangBon{
    background :#b095ff;
    width: 100%;
    height: 24%;
}
footer {
    background :#baff80;
    width :97%;
    height :10%;
    border:1px solid black ;
    font-size :16;
    display : flex ;
    justify-content : center ;
    align-items : center ;
}