body {
    background:#eaeaff;
    width :100%;
    height :100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:1px solid #ffeaff;
}
#baoTron{
    background: blue;
    width :100%;
    height: 100%;
    border:1px solid #ffeaea;
}
header {
    background : blue ;
    width :99%;
    height :10%;
    border:1px solid #ffeaea;
    font-size: clamp (1.5rem,7cqw,4rem);
    color :#ffeaea;
    display:flex;
    justify-content: center ;
    align-items: center ;
}
main{
    background :#9c95ff;
    width :99%;
    height :78%;
    border:1px solid #ffeaea;
}
.hangMot{
    background :#eaeaff;
    width :100%;
    height :25%;
    text-align: center ;
    display : flex ;
    align-items : flex-start;
}
.oMot{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    border:1px solid #1538ff;
}
.sanPhamMot {
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
.button {
    background: #ffffea;
    border:1px solid #ffffea;
    width: 98%;
    height: 18%;
    container-type: inline-size;
}
.buyNow {
    background: blue;
    font-size:clamp(12px,7cqw,26px);
    border:1px solid blue ;
    border-radius:5px;
    color :#ffffea;
    width: 35%;
    height: 90%;
}
.oHai{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    margin-left: auto ;
    border:1px solid #1538ff;
}
.sanPhamHai {
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
.hangHai{
    background :#eaeaff;
    width :100%;
    height :25%;
    text-align : center ;
    display : flex ;
    align-items : flex-start ;
}
.oBa{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    border:1px solid #1538ff;
}
.sanPhamBa{
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
.oBon{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    margin-left : auto ;
    border:1px solid #1538ff;
}
.sanPhamBon{
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
.hangBa{
    background :#eaeaff;
    width: 100%;
    height: 25%;
    text-align : center ;
    display : flex ;
    align-items : flex-start ;
}
.oNam{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    border:1px solid #1538ff;
}
.sanPhamNam {
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
.oSau{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    border:1px solid #1538ff;
    margin-left:auto;
}
.sanPhamSau{
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
.hangBon{
    background :#eaeaff;
    width: 100%;
    height: 24%;
    text-align : center ;
    display : flex ;
    align-items : flex-start;
}
.oBay{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    border:1px solid #1538ff;
}
.sanPhamBay{
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
.oTam{
    background: #eaeaff;
    width: 49%;
    height: 98%;
    margin-left : auto ;
    border:1px solid #1538ff;
}
.sanPhamTam{
    background: #ffbfea;
    width: 100%;
    height: 80%;
}
footer {
    background :#baff80;
    width :99%;
    height :10%;
    border:1px solid #ffeaea;
    font-size :16;
    display : flex ;
    justify-content : center ;
    align-items : center ;
}